import os
from os.path import join, dirname
from dotenv import load_dotenv

load_dotenv(verbose=True)

dotenv_path = join(dirname(__file__), ".env")
load_dotenv(dotenv_path)

DISCORD_BOT_TOKEN = os.environ.get("DISCORD_BOT_TOKEN")

# ここから下を編集してください
ACTIVITY_NAME = ""  # ACTIVITY_NAMEをプレイ中と表示される
VIDEO_ID_FREE_CHAT = ""  # フリーチャットのvideo_id()
EMBED_TITLE = ""  # チャット取得時のタイトル
CHANNEL_ID_STREAMER = ""  # 検知したいアカウントのchannelId
CHANNEL_ID_LIVECHAT =   # Livechatを送信するDiscordチャンネルのID

# 編集後にファイル名をconfig.py.sampleからconfig.pyに変更すること．